.lg_sigup{
  width: 100%;
  height: 100%;
  background-color:ghostwhite; 
}

.example-form {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.usrpass{
  width: 251px !important;
  height: 34px !important;
  outline: 0;
   border-width: 0 0 2px;
   border-color: ghostwhite;
  display: inline-block;
}

input:-internal-autofill-selected {
-webkit-appearance: menulist-button;
background-color: #0077B5 !important;
background-image: none !important;
color: -internal-light-dark-color(black, #0077B5) !important;
}

.icon {
/* background: url('../assets/images/user-signin.png'); */
height: 20px;
width: 20px;
display: block;
/* Other styles here */
}

::-webkit-input-placeholder { /* Edge */
color: whitesmoke;
opacity: 0.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #0077B5 inset !important;
  /* -webkit-text-fill-color: yellow !important; */
}

/* input:-internal-autofill-selected {
-webkit-appearance: none
background-color: rgb(232, 240, 254) !important;
background-image: none !important;
color: -internal-light-dark-color(black, white) !important;
} */
.lgIcon:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

input:focus {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.myClass {
  opacity: 0.6 !important;
  transform: translateX(0px);
  margin-left: -100px !important;
  width: 400px !important;
}

/* .fa-user-circle:before{content:"\f2bd"}.fa-user-circle-o:before{content:"\f2be"} */

.error {
  color: orange;
  font-size: small;
  /* text-align: left */
  position: relative;
  margin-top: 5px;
}

.err-border {
  border-bottom: 1px solid orangered !important;
}

.layer {
  /* background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */

  background-color: #0077B5;
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  margin: 0 auto;
  width: 354px;

}
.log{
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
